@font-face {
  font-family: "iconfont"; /* Project id 4447102 */
  src: url('iconfont.woff2?t=1709093194015') format('woff2'),
       url('iconfont.woff?t=1709093194015') format('woff'),
       url('iconfont.ttf?t=1709093194015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-shizhong:before {
  content: "\e629";
}

.icon-iconfonticonfontweibo:before {
  content: "\e625";
}

.icon-weixin1:before {
  content: "\e602";
}

.icon-banshou:before {
  content: "\e659";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-jiantou_liebiaoxiangzuo:before {
  content: "\eb04";
}

.icon-shop:before {
  content: "\e64e";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-xinxi:before {
  content: "\e605";
}

.icon-icon_jinrujiantouxiao:before {
  content: "\e630";
}

